{
  "_comment": "This is a template file. To use it:",
  "_instructions": [
    "1. Go to Firebase Console: https://console.firebase.google.com",
    "2. Select your project (or create a new one)",
    "3. Go to Project Settings > General",
    "4. Under 'Your apps', find your Android app or add a new one",
    "5. Download the google-services.json file",
    "6. Copy it to this directory as 'google-services.json' (without .template)",
    "7. The file will be automatically ignored by Git"
  ],
  "project_info": {
    "project_number": "YOUR_PROJECT_NUMBER",
    "project_id": "YOUR_PROJECT_ID",
    "storage_bucket": "YOUR_STORAGE_BUCKET"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "YOUR_MOBILE_SDK_APP_ID",
        "android_client_info": {
          "package_name": "com.travelotef.app"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "YOUR_API_KEY"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
